#gpuCanvas {
    width: 95vh;
    height: 95vh;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background-color: grey;
}

.container{
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
    top: 15px;
    right: 15px;
}